/* src/assets/css/theme.css */

/* Default to GoogleStyle (Light Theme) */
:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f1f3f4;
  --primary-text-color: #202124;
  --secondary-text-color: #5f6368;
  --accent-color: #1a73e8;
  --accent-color-hover: #1b66c9;
  --accent-text-color: #ffffff;
  --border-color: #dadce0;
  --error-color: #d93025;
  --success-color: #1e8e3e;

  --card-bg-color: var(--primary-bg-color);
  --card-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  --card-border-radius: 8px;

  --button-border-radius: 4px;

  --progress-bar-bg-color: #d1e2fc;
}

html.theme-googlestyle {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f1f3f4;
  --primary-text-color: #202124;
  --secondary-text-color: #5f6368;
  --accent-color: #1a73e8;
  --accent-color-hover: #1b66c9;
  --accent-text-color: #ffffff;
  --border-color: #dadce0;
  --error-color: #d93025;
  --success-color: #1e8e3e;

  --card-bg-color: var(--primary-bg-color);
  --card-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  --progress-bar-bg-color: #d1e2fc;
}

html.theme-geek {
  --primary-bg-color: #202124;
  --secondary-bg-color: #3c4043;
  --primary-text-color: #e8eaed;
  --secondary-text-color: #969ba1;
  --accent-color: #8ab4f8;
  --accent-color-hover: #a5c7fa;
  --accent-text-color: #202124;
  --border-color: #5f6368;
  --error-color: #f28b82;
  --success-color: #81c995;

  --card-bg-color: #2d2e31;
  --card-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3), 0 2px 6px 2px rgba(0, 0, 0, .15);
  --progress-bar-bg-color: #3e4e68;
}
